<footer>
  <div class="site-detail">
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">サイトマップ</a></li>
    <li><a href="#">プライバシーポリシー</a></li>
  </ul>
  </div>
  <div class="copyright">© 2024 Example Inc. All Rights Reserved.</div>
</footer>