<!-- app/views/shared/_level_up_modal.html.erb -->
<% if user_signed_in? %>
<div class="level-up-modal" style="display:none;">
  <div class="level-up-modal-content">
    <div class="level-up-user-name"><%=current_user.nickname%></div>
    <div class="level-up-level-up">Level up!!</div>
    <div class="level-up-message"></div>
    <div class="skill-get-message"></div>
    <div class="item-get-message"></div>
    <div class="next-experience-point-message"></div>
    <div class="required-comment-count-message"></div>
    <button class="close">とじる</button>
  </div>
</div>
<% end %>
