<body class="usage-page">
  <div class="back-to-post-page">
    <%= link_to "Top画面へ", root_path, class: "post-top-button" %>
  </div>

  <h1>hello world の使い方</h1>

  <h3>経験値</h3>
  <div class="description-box">
    <ul>
      <li>コメントをすると経験値が5たまるよ</li>
      <li>自分がたてたスレッドに他のユーザーからのコメントが来るたびに経験値が10たまるよ</li>
      <li>経験値がたまるとレベルが上がるよ</li>
    </ul>
  </div>

  <h3>レベル</h3>
  <div class="description-box">
    <ul>
      <li>レベルが上がるとHPが増えて、冒険に行ける回数が増えるよ</li>
      <li>レベルが上がるとスキル、アイテムを獲得することがあるよ</li>
      <li>レベルが上がると通知が届くよ。ポストマンをクリックしてレベルが上がったことを確かめよう</li>
    </ul>
  </div>

  <h3>冒険</h3>
  <div class="description-box">
    <ul>
      <li>冒険に行くごとにHPが-5されるよ</li>
      <li>冒険に出るとキャラクターに遭遇するよ</li>
      <li>たたかう　スキル　アイテム　にげる　の４つの選択肢を選ぼう</li>
      <li>キャラクターによって好感度が上がる選択肢が違うよ</li>
      <li>好感度を上げて出会ったキャラクターを仲間にしよう!</li>
    </ul>
  </div>

  <h3>バケモン図鑑</h3>
  <div class="description-box">
    <ul>
      <li>バケモンを仲間にすると仲間にしたバケモンはバケモン図鑑に登録されるよ</li>
      <li>バケモンを仲間にすると仲間にしたバケモンのプロフィール画像がアンロックされるよ</li>
    </ul>
  </div>
</body>
