<body class="game-page">
  <div class="back-to-post-page">
      <%= link_to "Top画面へ", root_path, class: "post-top-button" %>
    </div>

  <div class="game-screen-wrapper">

    <div class="upper-game-container">
        <div class="character-image-box">
          <%= image_tag 'tebukurodispatch3.png', alt: 'スレッドが見つからないキャラクターイメージ', class:" green-dig-man", id: 'green-moguri' %>
        </div>
    </div>

    <div class="lower-game-container">
      <div class="upper-options">
        <p>たたかう</p>
        <p>アイテム</p>
      </div>

      <div class="lower-options">
        <p>スキル</p>
        <p>にげる</p>
      </div>
    </div>

  </div>

</body>

