<body class="search-page">
  <%= render 'shared/level_up_modal' %>
  <div class="back-to-post-page">
    <%= link_to "Top画面へ", root_path, class: "post-top-button" %>
  </div>

 
  <div class="search-container">
    <p class="cant-find-query">スレッドが見つからないよ </p>
    <div class="green-dig-dig">
      <%= image_tag 'greenmoguri.png', alt: 'スレッドが見つからないキャラクターイメージ', class:" green-dig-man", id: 'green-moguri' %>
    </div>
  </div>

  <%= render "shared/footer" %>
</body>
