/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

body {
  min-width: 1150px;
}

/* モーダルの背景 */
.level-up-modal {
  position: fixed; /* 固定位置 */
  top: 0;
  left: 0;
  width: 100%; /* 横幅全体 */
  height: 100%; /* 高さ全体 */
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
  display: flex; /* Flexboxで中央に配置 */
  align-items: center; /* 縦方向中央に配置 */
  justify-content: center; /* 横方向中央に配置 */
  z-index: 1000; /* モーダルが他のコンテンツの上に表示されるように */
}

/* モーダルコンテンツ */
.level-up-modal-content {
  font-family: "DotGothic16", sans-serif;
  background-color: #282626; /* 背景色 */
  color: white;
  border-radius: 8px; /* 角を丸く */
  padding: 20px; /* 内側の余白 */
  max-width: 500px; /* 最大幅 */
  width: 90%; /* 幅の制限 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* シャドウ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level-up-modal-content h2 {
  font-size: 40px;
}

/* メッセージのスタイル */
.level-up-message,
.skill-get-message,
.item-get-message,
.next-experience-point-message,
.required-comment-count-message {
  margin-bottom: 10px; /* 各メッセージの間隔 */
  font-size: 20px; /* フォントサイズ */
}

/* 閉じるボタン */
.close {
  background-color: #f44336; /* ボタンの背景色 */
  color: white; /* テキストの色 */
  border: none; /* ボーダーなし */
  padding: 10px 20px; /* 内側の余白 */
  border-radius: 4px; /* 角を丸く */
  cursor: pointer; /* マウスカーソルをポインターに */
  font-size: 16px; /* フォントサイズ */
}

/* ボタンのホバー効果 */
.close:hover {
  background-color: #d32f2f; /* ホバー時の背景色 */
}

















.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 550px;
}

.form-title-control {
  height: 40px;
  padding: 2px;
  border-radius: 10px;
}

.form-content-control {
  height: 400px;
  border-radius: 10px;
  padding: 3px;
  resize: none;
}

.post-button-complete {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.form-button {
  margin-left: auto;
  margin-top: auto;
}

.form-button:hover {
  box-shadow: unset;
  transform: translateY(3px);
}

.custom-file-upload {
  display: flex;
}

/* モーダルのクローズボタン */
.close-button {
  background: none;
  border: none;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}
