/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

body {
  min-width: 1150px;
}

.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 550px;
}

.form-title-control {
  height: 40px;
  padding: 2px;
  border-radius: 10px;
}

.form-content-control {
  height: 400px;
  border-radius: 10px;
  padding: 3px;
}

.post-button-complete {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.form-button {
  margin-left: auto;
  margin-top: auto;
}

.form-button:hover {
  box-shadow: unset;
  transform: translateY(3px);
}

.custom-file-upload {
  display: flex;
}

/* モーダルのクローズボタン */
.close-button {
  background: none;
  border: none;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}
