.comment {
  position: relative;
  width: 100%;
  border-bottom: 0.2px solid rgb(190, 190, 190);
  padding: 10px;
  overflow-wrap: break-word;
}

.commenter {
  text-align: right;
}

.add-comment {
  margin: 0 auto;
  width: 200px;
  background-color: rgba(240, 245, 254, 0.885);
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

#add-comment-button{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
}

#comment-modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 250, 250, 0.209);
  z-index: 1003;
}

.comment-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(185, 188, 213);
  padding: 20px;
  border-radius: 10px;
  width: 600px; /* min-widthではなくwidthで統一 */
  height: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1004;
  position: relative;
  margin: 0 auto;
  transform: translateY(30%);
}

.comment-body {
  width: 100%;
  height: 100%;
  padding: 5px 25px 5px 10px;

}

.comment-content-form{
  margin-top: 6px;
  height: 200px;
  border-radius: 8px;
  resize: none;
}

.comment-form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.comment-submit-button{
  width: 85px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  font: inherit;
  color: inherit;
  background-color: rgba(240, 245, 254, 0.885);
  cursor: pointer;
}

.comment-form-button{
  text-align: right;
  margin-top: 7px;

}

.comment-form-button:hover {
  box-shadow: unset;
  transform: translateY(2px);
}

#comment-edit-delete-modal-buttons {
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(186, 186, 230, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.2px solid rgb(190, 190, 190);
}

#edit-comment-button {
  width: 80px;
  cursor: pointer;
}

#delete-comment-button {
  width: 80px;
  margin-top: 10px;
  cursor: pointer;

}