/* styles.css */
.navbar {
  display: flex;
  justify-content: space-between; /* Changed from space-around to space-between for better alignment */
  align-items: center;
  background-color: #333;
  font-family: "DotGothic16", sans-serif;
  height: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
  padding: 0 10px; /* Added padding for better spacing */
}

.navbar-logo{
  width: 130px;
  height: 30px;
  fill: white;
}


img.top-characters-image{
  width: 35px;
  height: 35px;
}


.navbar-logo a {
  color: white;
  text-decoration: none;
  font-family: "DotGothic16", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.post-objects{
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.navbar-search {
  width: 300px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.post-button {
  background-color: #333;
  text-decoration: none;
  color: white;
  padding: 30px 20px;
}

.post-button :hover{
  background-color: black;
}

.navbar-search input[type="text"] {
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 13px;
  height: 2.5em;
  width: 200px;
  overflow: hidden;
}

.navbar-search input[type="text"]:focus {
  outline: 0;
}

.adventure-box {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 20px;
}

.adventure-box a {
  text-decoration: none;
  color: white;
}

.adventure {
  margin-left: 10px;
  text-align: center;
}

.adventure a {
  display: block;
  padding: 10px 10px;
}

.adventure a:hover{
  background-color: #111;
}

.adventure p {
  margin: 0;
}

label {
  font-size: 1rem;
}

.navbar-links {
  list-style-type: none;
  display: flex;
}

.navbar-links li {
  display: flex;
  align-items: center;
}

.navbar-links li a {
  font-family: "DotGothic16", sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}


.navbar-links li:hover {
  background-color: #111;
}


.shoes-image {
  width: 40px;
  height: 40px;
}

