/* styles.css */
.navbar {
  display: flex;
  justify-content: space-between; /* Changed from space-around to space-between for better alignment */
  align-items: center;
  background-color: rgb(71, 75, 79);
  font-family: "DotGothic16", sans-serif;
  height: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
  padding: 0 10px; /* Added padding for better spacing */
}

.navbar-logo{
  width: 130px;
  height: 30px;
  fill: white;
}


img.top-characters-image{
  width: 35px;
  height: 35px;
}


.navbar-logo a {
  color: white;
  text-decoration: none;
  font-family: "DotGothic16", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.post-objects{
  display: flex;
  align-items: center;
  margin-left: 80px;
  height: 100%;
}

.navbar-search {
  width: 300px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.search-btn {
  background: inherit;
  padding: 0;
  border: none;
  cursor: pointer;

}

.search-btn:active {
  box-shadow: unset;
  transform: translateY(3px);

}

.post-button {
  background-color: inherit;
  text-decoration: none;
  color: white;
  cursor: pointer;
  height: 100%;
  text-align: center;
  border: none;
  outline: none;
  font: inherit;
}

.post-button p {
  height: 100%;
  line-height: 80px;
  margin: 0;

}

.post-button :active{
  box-shadow: unset;
  transform: translateY(4px);
}



.navbar-search input[type="text"] {
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 13px;
  height: 2.5em;
  width: 200px;
  overflow: hidden;
}

.navbar-search input[type="text"]:focus {
  outline: 0;
}

.adventure-box {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 20px;
  height: 100%;
}

.your-status {
  height: 100%;
}

.adventure {
  margin-left: 10px;
  text-align: center;
  height: 100%;
}

.adventure-button{
  height: 100%;
  color: white;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.adventure-button :active {
  box-shadow: unset;
  transform: translateY(3px);
  
}


.adventure p {
  margin: 0;
}

label {
  font-size: 1rem;
}

.navbar-links {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.navbar-links :hover{
  box-shadow: unset;
  transform: translateY(3px);
  
}

.navbar-links a {
  display: block;
  width: 100px;
  text-decoration: none;
  color: white;
  height: 100%;
}

.menu-buttons {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  font: inherit;
  background-color: inherit;
  height: 100%;
  line-height: 80px;
}



.shoes-image {
  width: 40px;
  height: 40px;
}

