.index-body {
  background-color: rgb(209, 209, 236);
  box-shadow: 0 0 8px gray;
}
.post-media {
  width: auto;
  height: auto; /* 画像のアスペクト比を保持 */
  border-radius: 10px;
}

#posts-list{
  width: 65vw;
  margin: 0 auto;
  background-color: rgba(240, 245, 254, 0.885);
  min-width: 500px;
  margin-top: 10px;

}

.post{
  position: relative;
  width: 100%;
  border-bottom: 0.2px solid rgb(190, 190, 190);
  padding: 10px;
  overflow-wrap: break-word;
}

.post-title-box {
  width: 100%;
}

.post-title-link{
  text-decoration: none;
  color: black;
}

.post h2 {
  overflow-wrap: break-word;

}



.post h2 :hover{
  color: blueviolet;

}

.post-contents-media{
  display: flex;
  justify-content: space-between;
  overflow-wrap: anywhere;
}
