.message-container {
  width: 100vw;
  height: 100vh;
}

.message-header {
  width: 100%;
  height: 10%;
  background-color: #333;
}

.message-header .back-to-my-page {
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 1px;
}

.message-header .post-top-button {
  color: white;
}

.message-header .post-top-button:hover {
  color: #ca4effaa;
}

.message-wrapper {
  width: 100%;
  height: 75%;
  background-color: white;
  padding: 15px 0;
  overflow-y: auto;
}



.message-box {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px; /* メッセージ間の余白 */
}



.message {
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
}

.message-left {
  max-width: 250px;
  background-color: #f1f1f1; /* 相手のメッセージ用の背景色 */
  align-self: flex-start; /* 左側に配置 */
  position: relative;
}

.left-messenger-name {
  position: absolute;
  left: -70px;
  top: 30px;
  font-size: 14px;
}

.right-messenger-name {
  position: absolute;
  right:-70px;
  top: 30px;
  font-size: 14px;
}

.message-right {
  max-width: 250px;
  background-color: #d1e7dd; /* 自分のメッセージ用の背景色 */
  align-self: flex-end; /* 右側に配置 */
  position: relative;
}

.message-submit-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  background-color: rgb(186, 185, 185);
}

.message-form-box {
  display: flex;
  align-items: center;

  width: 90%;
  height: 90%;
}

.message-text-area {
  width:  90%;
  height: 60%;
  margin-right: 10px;
}

.message-submit-button {
  padding: 10px;
}

