.usage-page {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "DotGothic16", sans-serif;
}

.usage-page .description-box {
  width: 800px;
  text-align: left;
}

.usage-page .post-top-button {
  color: black;
}
